build/
*.o
*.out
*.a
*.so
*.dylib
*.exe
.DS_Store
**/.cph/**
__pycache__

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
!CMakeLists.txt
.cmake/
input.txt
.env
data/*
**/docs/*
.terraform/
node_modules/